@import '@styles/var.scss';

.main {
  border: $dt-border;
  @include row;

  &_img {
    position: relative;
    width: 50%;
    height: 520px;
    max-width: 690px;
    margin: 20px;
    margin-right: 0;
  }

  &_info {
    @include column;
    width: 50%;
    margin: 60px 40px;

    &__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      &_name {
        font-size: 32px;
        line-height: 38px;
      }

      &_subname {
        position: absolute;
        top: 50px;
        left: 0;
      }

      svg {
        cursor: pointer;
        color: $hidden-color;
        transition: all 0.3s ease;

        &:hover {
          color: $dt-text-color;
        }
      }
    }

    &__desc {
      margin-top: 40px;
      font-size: 14px;
      line-height: 16px;
    }

    &__frames {
      margin-top: 40px;

      &_title {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
      }

      &_items {
        margin-top: 40px;
        @include row;
        @include spaceBetween;
      }
    }
  }
}

.about {
  @include row;

  &_col {
    width: 33.3333%;
    margin-top: 20px;
  }
}
