@import '@styles/var.scss';

.button {
  height: 55px;
  @include row;
  @include centerSelf;
  border: $dt-border;
  font-size: 20px;
  line-height: 23px;
  color: $dt-text-color;
  text-transform: uppercase;
  padding: 0 16px;
  transition: all 0.3s ease;

  svg {
    transform: rotate(-90deg);
    margin-left: 7px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &:hover {
    background-color: $dt-text-color;
    color: $lt-text-color;
  }
}

.form {
  width: 195px;
  text-transform: none;
  border: $lt-border;
  color: $lt-text-color;
  margin: 25px auto;

  &:hover {
    background-color: $lt-text-color;
    color: $dt-text-color;
  }
}
