@import '@styles/var.scss';

.button {
    width: 195px;
    height: 55px;
    @include row;
    @include centerSelf;
    border: $lt-border;
    font-size: 20px;
    line-height: 23px;
    color: $lt-text-color;
    margin: 25px auto;

    svg {
        transform: rotate(-90deg);
        margin-left: 7px;
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}