@import '@styles/var.scss';

.block {
  @include column;
  margin: 45px auto 0 auto;

  .link {
    border: $dt-border;
    border-top: none;
  }

  @media (min-width: $media_desktop) {
    @include row;
    width: max-content;

    .link {
      border-top: $dt-border;
      border-left: none;
      width: 70px;
    }
  }
}