@import '@styles/var.scss';

.wrap {
  display: flex;

  .genre {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    &_item {
      padding: 63px 20px 75px 20px;
      border: $dt-border;
      animation: 1s 1 alternate slidein;

      &__title {
        margin-bottom: 45px;
        text-transform: uppercase;
        color: $dt-text-color;
        text-align: left;
      }
      &__list {
        display: grid;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 50%);
      }
    }

    &_hidden {
      position: relative;
      z-index: 10;
      animation: 1s 1 alternate slideout;
      transition: all 0.7s ease;
      height: 100%;
      border: $lt-border;
      background: $lt-bg-color;
      width: 12vw;

      span {
        display: block;
        text-align: start;
        transform: rotate(-90deg);
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: $lt-text-color;
        position: absolute;
        bottom: 80px;
        left: 0;
        width: 100%;
      }
    }
  }
}

@keyframes slidein {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    width: 100%;
  }
}
