* {
  text-rendering: geometricPrecision;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

body {
  font-family: var(--font-sans);
}

code,
kbd,
samp {
  font-family: var(--font-mono);
}

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
button,
optgroup,
select,
textarea,
pre {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

td,
legend,
textarea,
input,
fieldset {
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  background-color: #22225d;
  margin: 12px;
  font-family: 'Raleway-Light';
  color: #eff2a5;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #eff2a5;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

ul {
  list-style: none;
}

hr {
  height: 0;
  color: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #eff2a5 inset !important;
  color: #22225d !important;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../assets/fonts/Raleway-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

div {
  user-select: none;
}
