/*===================================================
    Local colors
===================================================*/

$_black: #000;
$_white: #fff;
$_light: #EFF2A5;
$_yellow: #f3ca20;
$_red: red;
$_blue: #22225D;


/*===================================================
    Dark Theme Color
===================================================*/

$dt-bg-color: $_blue;
$dt-border-color: $_light;
$dt-text-color: $_light;

/*===================================================
    Light Theme Color
===================================================*/

$lt-bg-color: $_light;
$lt-border-color: $_blue;
$lt-text-color: $_blue;

/*===================================================
    Variables
===================================================*/

$dt-border: 2px solid $dt-border-color;
$lt-border: 2px solid $lt-border-color;

/*===================================================
    Mixins
===================================================*/

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin spaceBetween {
    display: flex;
    justify-content: space-between;
}
