@import '@styles/var.scss';

.back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  @include centerSelf;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal {
  max-width: 900px;
  transition: transform 0.3s, opacity 0.3s;
  margin: 50px;
  background: $lt-bg-color;
  position: relative;
  padding: 28px 50px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &_header {
    position: relative;
    color: $lt-text-color;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 37px;
    height: 37px;
    border: $lt-border;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 29px;
      height: 2px;
      background-color: $lt-text-color;
      margin-left: 3px;
    }
    &::after {
      transform: rotate(-45deg);
      margin-top: -2px;
    }
    &::before {
      transform: rotate(45deg);
    }
  }

  &_body {
    overflow: auto;

    &__content {
      color: $lt-text-color;
    }
  }
}

.hide {
  z-index: -1;

  .modal {
    transform: translate(0, -500px);
    opacity: 0;
  }
}
