@import '@styles/var.scss';

.header {
  @include row-spaced;
  border: $dt-border;
  font-family: 'Raleway-Light';
  height: 160px;

  button {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
  }

  &__menu {
    @include row-spaced;
    padding: 0 55px;
    width: 100%;

    &_button {
      padding-left: 30px;
    }

    &_nav {
      @include row-center-spaced;
      width: 36vw;
    }

    &_login {
      display: none;
    }
  }

  &__account {
    @include row-center-spaced;
    min-width: 150px;
    padding: 0 30px;
    border-left: $dt-border;
  }

  &__search {
    width: 27px;
    height: 27px;

    svg {
      transform: scale(0.8);
    }
  }

  &__content {
    @include row-center;
    margin: 0 37px;

    &__link {
      display: none;
    }
  }

  @media (min-width: $media_tablet) {
    .header__menu {
      margin-left: 12.5vw;
      border-left: $dt-border;

      &_login {
        display: block;
      }
    }

    .header__content__link {
      display: flex;
      margin-left: 80px;

      svg {
        margin-right: 10px;
      }
    }
  }

  @media (min-width: $media_large) {
    .header__account {
      min-width: 250px;
      padding: 0 55px;
    }
  }
}