@import '@styles/var.scss';

.footer {
  margin-top: 180px;
  @include column;

  &__links {
    @include row;
    margin: 0 auto;

    svg {
      margin: 0 13px;
    }
  }

  &__info_container {
    @include row-spaced;
    flex-wrap: wrap;
    margin: 0 auto 80px auto;
  }

  &__info {
    @include column;
    margin-top: 50px;
    padding: 0 10px;

    &_title {
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &_content {
      @include column;

      a {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &_buttons {
      @include row-center-spaced;
      margin-top: 20px;
    }

    &:last-child {
      flex-basis: 380px;
    }
  }

  @media (min-width: 450px) {
    &__info_container {
      margin: 0 50px 80px 50px;
    }
  }

  @media (min-width: $media_desktop) {
    &__info_container {
      margin: 0 150px 80px 150px;
    }
  }

  @media (min-width: $media_large) {
    &__info_container {
      flex-wrap: nowrap;
    }
  }
}